<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (user) {%>
    <h2>Basket</h2>
    <h3>Order Details</h3>
    
<section>
  <% for(let i=0 ; i<baskets.orderedItems.length ; i++ ){%>
      <div class="details">dish details:</div>
      <div><%= basketdish[i].Item  %></div>
      <div class="details">category:</div>
      <div><%=  basketdish[i].category%></div>
      <div class="details">price:</div>
      <div><%=  basketdish[i].price%></div>
      <div class="details">quantity:</div>
      <div ><%=baskets.orderedItems[i].quantity%></div>
      <div class="details">comments:</div>
      <div><%= baskets.orderedItems[i].comments%></div>

      <input type="submit" value="+" />
      <input type="submit" value="-" />
  <%} %>


</section>

<h3>Total price:</h3>
<!-- 
orderedItems price and total payment  -->
  </div>
  </body>
  <% } else { %> 
    <p>Please sign in to view your basket</p> <% } %>
</html>