<%-include('../partials/header')%>

<div class="basket">
    <% if (user) {%>
    <h2>Basket</h2>
    <h3>Order Details</h3>
    <table class="basket-table">
      <tr>
        <th>Dish Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Remove</th>
      </tr>
    
  <% for(let i=0 ; i<baskets.orderedItems.length ; i++ ){%>
    <tr>
      <td><div class="details"><%= basketdish[i].Item  %></div></td>
      <td><div class="details"><%=  basketdish[i].price%> BHD</div></td>
      <td> <form id="update-dish-quantity" action="/baskets/<%=baskets._id%>/ordered-items/<%=baskets.orderedItems[i]._id%>?_method=PUT" method="POST">
        <input type="hidden" name="dish" value="<%= baskets.orderedItems[i]._id %>">
        <input type="number" name="quantity" value="<%= baskets.orderedItems[i].quantity %>" min="0">
        <button class="basket-btn"  type="submit">Update</button>
      </form></td>
      <td><form class="delete-dish" action="/baskets/<%=baskets._id%>/ordered-item/<%=baskets.orderedItems[i]._id%>?_method=DELETE" method="POST">
        <button class="basket-btn"  type="submit" ><i class="fa-solid fa-trash"></i></button>
      </form></td>
    </tr>

  <%} %>
</table>


<h3>Total price: <strong><%= totalAmount %> BHD</strong></h3>


  <form action="/baskets/payOrder" method="POST">
    <input type="hidden" name="totalAmount", value="<%=totalAmount%>">
    <button class="basket-btn" type="submit">Proceed to Pay</button>
  </form>
</div>

  </body>
  <% } else { %> 
    <p>Please sign in to view your basket</p> <% } %>
<%-include('../partials/footer')%>

