<%- include('../partials/header')%>
 
<p><strong>receipt ID:</strong> <%=receipt._id %></p>
<p><strong>Total Amount:</strong> <%=receipt.totalAmount %></p>
<h2>Ordered dishes:</h2>
<ul>
    <%receipt.orderedDishes.forEach(dish => { %>
        <li>Name: <%= dish.name %>, Price: <%= dish.price %>, Quantity: <%= dish.quantity %></li>
    <% }); %>
</ul>
<%- include('../partials/footer')%>