<%- include('../partials/header') %>
<div class="restaurants-container">
  <% restaurants.forEach(restaurant => { %>
    <div class="restaurant">
      <a href="/restaurants/<%= restaurant._id %>">
        <div class="restaurant-content">
          <img src="<%= restaurant.image %>" alt="<%= restaurant.name %> Image" class="restaurant-image">
          <h3><%= restaurant.name %></h3>
          <p><%= restaurant.location %></p>

        </div>
      </a>
    </div>
  <% }); %>
</div>
<%- include('../partials/footer') %>