<%- include('../partials/header')%>


<!-- <div class="categories">
  <%// categories.forEach(category =>{%>
      <button>
        <%= //category %>
      </button>
  <%//}) %>
</div> -->

<div class="dishes">
  <% if(restaurantMenu){ %>
    <% restaurantMenu.forEach(dish =>{%>
      <img src="" alt="">
      <h3><%=dish.Item%></h3>
      <p>Price: <span><%=dish.price%></span></p>
      <p>Description <span>dish.description</span></p>
      <% if(basket){ %>
      <form id="add-dish-quantity" action="/baskets/<%=basket._id%>/ordered-item" method="POST">
        <input type="hidden" name="dishId" value="<%= dish._id %>">
        <input type="number" name="quantity" value="<%= dish.quantity %>" min="0">
        <!-- `${dish._id}` -->
        <button type="submit">Add</button>
      </form>
    <%}
    }) %>
    <% } %>

</div>

<%- include('../partials/footer')%>
