<%- include('../partials/header')%>


<!-- <div class="categories">
  <%// categories.forEach(category =>{%>
      <button>
        <%= //category %>
      </button>
  <%//}) %>
</div> -->

<div class="dishes">
  <% if(restaurantMenu){ %>
    <% restaurantMenu.forEach(dish =>{%>
      <img src="" alt="">
      <h3><%=dish.Item%></h3>
      <p>Price: <span><%=dish.price%></span></p>
      <p>Description <span>dish.description</span></p>
  <%}) %>
    <% } %>
<<<<<<< HEAD
 </div>
<%- include('../partials/footer')%>
=======

</div>

<%- include('../partials/footer')%>
>>>>>>> fc444e91128481b081f60c9fa088ded489072866
