<%- include('../partials/header')%>

<div class="categories">
  <% categories.forEach(category =>{%>
      <button>
        <%= category %>
      </button>
  <%}) %>
</div>
<% <div class="dishes"> %>
  <% if(dish){ %>
    <% dish.forEach(dishes =>{%>
      <img src="" alt="">
      <h3><%=dishes.name%></h3>
      <p>Price: <span><%=dishes.price%></span></p>
      <p>Description <span>dishes.Description</span></p>
  <%}) %>
    <% } %>
<% </div> %>
<%- include('../partials/footer')%>