<%- include('../partials/header')%>

<div class="categories">
  <% categories.forEach(category =>{%>
  <button><%= category %></button>
  <%}) %>
</div>

<div class="dishes">
  <% if(restaurant.menu){ %> <% restaurant.menu.forEach(function(dish) { %>
  <li>
    <h3><%= dish.Item %></h3>
    <p><%= dish.category %></p>
    <p><%= dish.description %></p>
    <p>Price: $<%= dish.price %></p>
  </li>
  <% }) %> <% } %>
</div>

<%- include('../partials/footer')%>
